
@import url("keyframes.css");

* {
  outline: none;
}

html {
  height: 100%;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  animation: fadeInPage 0.80s;
  animation-delay: 0.80s;
  animation-fill-mode: forwards;
}

div.overlay {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.45);
}

h1.clock {
  font-size: 140px;
  font-family: Roboto;
  font-weight: 100;
  color: white;
  animation: slideFromTop 0.80s;
  animation-delay: 0.50s;
}

input[type="text"].search {
  width: 600px;
  height: 42px;
  border-radius: 18px;
  padding: 5px 30px 5px 30px;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 300;
  color: #D8D8D8;
  border: none;
  background: rgba(5, 5, 5, 0.6);
}
