
div.appBar {
  background: rgba(5, 5, 5, 0.4);
  width: 100%;
  height: 60px;
  color: white;
}

div.appBarItem {
  padding: 6px;
  width: 75px;
  color: white;
  float: left;
  cursor: pointer;
  animation: slideBookmarks 2s;
  animation-fill-mode: forwards;
}

/* div.appBarItem:hover {
  animation: fadeBookmarksBackground 0.75s forwards;
} */

img.appBarImage {
  padding-top: 15px;
  width: 16px;
}

#hiddenContent {
  opacity: 0;
}

#parent:hover #hiddenContent {
  animation: slideBookmarksText 0.60s forwards;
}
